# Gemini API Token (用於語意與情緒分析)
GEMINI_API_KEY=your_gemini_notify_token_here

# Line Messaging API (用於 Line Bot 推播)
# 取得網址: https://developers.line.biz/
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
LINE_USER_ID=your_line_user_id_here


# Telegram Bot Token & Chat ID (用於 Telegram 推播)
# 取得 Bot Token 網址: https://t.me/BotFather
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
